.product-page {
  margin-left: auto;
}

ul.list_trang {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.list_trang li {
  padding: 12px 20px;
  margin: 8px;
  border-radius: 3px;
}

ul.list_trang li a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
