@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.flex {
  display: flex;
  gap: 0 15px;
}

.flex-mb {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
}

.form-group--product {
  width: 50%;
}

.form-group--product .form-input {
  padding: 10px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.25s linear;
  background-color: transparent;
}

.form-group--product .form-input:focus {
  border-color: #1fa2ff;
  background-color: #ccc;
}

.form-quanliti {
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-label--images {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.chose-image {
  height: 80px;
}

.chose-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-label--chose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.input-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
