.flex {
  display: flex;
  align-items: center;
  gap: 0 15px;
}

.form-group--product {
  width: 50%;
}

.form-group--product .form-input {
  padding: 10px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
